name: CI

on:
  pull_request:
  push:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "{{cookiecutter.node_version}}"
          cache: "npm"
      - run: npm install
      - run: npm run check
      {% if cookiecutter.enable_vitest == "yes" -%}
      - run: npm run test
      {%- endif %}
      - run: npm run build
